
{% extends 'epdtdi_timber/base.html' %}
{% block additional_header %}
{% load static %}
{% endblock %}

{% block content %}
<div id="main">
  <h2>Pytimber - Index</h2>
  <p> Intro </p>
  <div id="code">
    <h2>Available applications for Experiments</h2>
    <p>
      <div class="container-fluid">
        {% if app_error|length > 0 %}
          {% if group_error|length > 0 %}
            <div class="alert alert-danger" role="alert">
              <h4 class="alert-heading">User not authorised to access app: '{{ app_error|escape }}'!</h4>
              <p style="max-width: 2000px">The '{{ app_error|escape }}' app requires membership of the <a href='https://e-groups.cern.ch/e-groups/EgroupsSearch.do?searchValue={{ group_error|escape }}' class='alert-link'>'{{ group_error|escape }}'</a> egroup.
                If you believe you should have access, please contact the egroup's administrator about correcting your access rights.</p>
              <hr/>
              <p class="mb-0">Alternatively, please select one of the available apps below:</p>
            </div>
          {% else %}
            <div class="alert alert-danger" role="alert">
              No such app configured: '{{ app_error|escape }}'! Please select one of the available apps below:
            </div>
          {% endif %}
        {% endif %}
        {% for app in apps_available %}
          {% if forloop.counter0|divisibleby:"2" %}
            <div class="row">
          {% endif %}
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="logo-div col-sm-10 offset-sm-1">
              <a href="{{ app }}" style="text-decoration: none">
                {% load utils %}
                {% with logo_path=app|split_trunc:"_"|add:"_logo.png" %}
                  <img class="experiment-logo" src="{% static logo_path %}" alt="{{ app|capfirst|split_trunc:"_" }} Experiment Logo">
                {% endwith %}
                <h4 class="exp-logo-header">{{ app|capfirst }} Experiment App</h4>
              </a>
            </div>
          </div>
          {% if not forloop.counter0|divisibleby:"2" %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </p>
  </div>
</div>
<!--end main-->

{% endblock %}
